@import "tailwindcss";

:root {
  --background-color: #fffeed;
  --heading-color: #8b542c;
  --heading-font: var(--font-lustria);
  --text-color: #000000;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lustria), sans-serif;
}

h1,
h2,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--heading-font);
  font-weight: 400;
  letter-spacing: -0.5px;
}
